body {
  background-color: var(--body-background);
  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.06) 0,
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px,
      transparent 3px
    );
}

html[data-theme="dark"] body {
  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.07) 0,
      rgba(255, 255, 255, 0.07) 1px,
      transparent 1px,
      transparent 3px
    );
}
